<!-- htmlmin:ignore --><!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>MMBN</title>

    <meta name="author" content="NetOperator Wibby"/>
    <meta name="description" content="This site is a collection of MMBN-related projects ranging from real-world attempts to bring the world of Megaman Battle Network to reality, to games, to community."/>
    <meta name="keywords" content="MMBN, megaman battle network, battle network, rockmanexe, rockman, exe, HeatPhoenix, NetOperator Wibby, mmbn3d, scilab, ministry of science"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Fira+Mono:400,700"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/scripts/vendor/jquery.js"></script>

    <script defer>
      var _gauges = _gauges || [];

      (function () {

        if (document.location.hostname != "localhost") {
          var t = document.createElement("script");
          t.async = true;
          t.id = "gauges-tracker";
          t.setAttribute("data-site-id", "53664fcceddd5b14d80019ab");
          t.src = "//secure.gaug.es/track.js";

          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(t, s);
        }

      })();
    </script>
  </head>

  <body>
<!-- htmlmin:ignore -->
    {{{ body }}}
<!-- htmlmin:ignore -->
  </body>

</html><!-- htmlmin:ignore -->
