<header>
  <a href="/" class="logo">Megaman Battle Network</a>
</header>

<main>
  <p>
    This site is a collection of MMBN-related projects ranging from real-world attempts
    to bring the world of Mega Man Battle Network to reality, to games, to community.
  </p>

  <p>
    If you know of a project that would be great for this site, let me know via Twitter
    (@NetOpWibby) or by email (netopwibby@thenetwork.email).
  </p>

  <ul>
    <li>
      <h3>/r/BattleNetwork</h3>
      <p>
        The series may be dead, but that doesn't mean the fans are. The MMBN community is
        <em>thriving</em>, and more people are joining weekly. Quite amazing, really.
      </p>

      <p>- Visit the <a href="https://www.reddit.com/r/battlenetwork">subreddit</a></p>
    </li>

    <li>
      <h3>chiplibrary</h3>
      <p>Chris Santiago is working on a BattleChip library and would love to have help on!</p>

      <p>- Visit <a href="https://github.com/chrisrsantiago/chiplibrary/issues">chiplibrary</a></p>
    </li>

    <li>
      <h3>EndCycle</h3>
      <p>EndCycle is an Action RPG, with a skill based combat system and a focus on letting the player develop their own combat style. It is inspired by MMBN and developed by <a href="https://twitter.com/12B3Games">12B3Games</a>. It now has online multiplayer!</p>

      <p>- Visit the <a href="https://12b3.itch.io/endcycle">Official Site</a>.</p>
    </li>

    <li>
      <h3>Mega Man Battle Network (Series) Chip List</h3>
      <p>This chip list is maintained by <a href="https://twitter.com/tterraj42">Tterraj42</a> and <a href="https://twitter.com/cheeseandcereal">cheeseandcereal</a>. Some game IDs for BN6 and a lot of the Japanese names are missing, but it's mostly complete.</p>

      <p>- Visit the <a href="https://docs.google.com/spreadsheets/d/18qUmXQP_w6g7Guy_fpzaCCWph17cxSetR29n5WOxXKI/pubhtml">Google Doc</a></p>
    </li>

    <li>
      <h3>Ministry of Science</h3>
      <p>
        Also known as SciLab, this is where <a href="https://twitter.com/NetOpWibby">NetOperator Wibby</a> is working to bring
        MMBN to the real-world (when he has time away from real-world duties).
      </p>

      <p>- Join the <a href="https://mmbn.herokuapp.com">Slack group</a> and visit the <a href="https://paulwebb.software/groups/SciLab">project repos</a></p>
    </li>

    <li>
      <h3>MMBN speedruns</h3>
      <p>TeamBN does speedrun marathons on their Twitch channel every now and then. Their Discord group is for general silliness and fun involving plenty of memes and MMBN stuff.</p>

      <p>- Visit TeamBN on <a href="https://discord.teambn.net">Discord</a>, <a href="https://www.twitch.tv/teambn">Twitch</a>, <a href="https://twitter.com/TeamBattleNet">Twitter</a>, and <a href="https://www.youtube.com/user/TeamBattleNetwork">YouTube</a>.</p>
    </li>

    <li>
      <h3>MMBN3D</h3>
      <p>MMBN3D is an awesome NetBattling fan-game designed and coded by HeatPhoenix.</p>

      <p>- Download <a href="/downloads/MMBN3D_DEMO_V1.zip">MMBN3D</a> and visit the <a href="http://mmbn3d.tumblr.com/devlogs">dev blog</a></p>
    </li>

    <li>
      <h3>MMBN Chrono X</h3>
      <p>
        Chrono X is the unofficial 7th entry in the MMBN series. The game is very
        much a work-in-progress, but the dedicated creators push out regular updates.
      </p>

      <p>- Download the <a href="http://www.mmbnchronox.com/download.php">demo</a> and visit the <a href="http://www.mmbnchronox.com/forum">forum</a></p>
    </li>

    <li>
      <h3>mmbno</h3>
      <p>Brandon Evans is working on a NetBattle simulator.</p>

      <p>- Visit <a href="https://github.com/BrandonE/mmbno">mmbno</a></p>
    </li>

    <li>
      <h3>MMBN Project Genesis</h3>
      <p>
        MMBN Project Genesis is a fan game of the MegaMan Battle Network games.
        Made by people who didn't like the ending of 6 and thought the game should
        continue after CX.
      </p>

      <p>- Visit the <a href="https://gamejolt.com/games/megaman-battle-network-project-genesis/170129">site</a> to download the early access demo (Windows only).</p>
    </li>

    <li>
      <h3>One Step From Eden</h3>
      <p>
        One Step From Eden is a realtime tile-battle deck-building rogue-lite. For a game created by just one guy, it's damn good-looking. The battle animations are fluid as heck.
      </p>

      <p>- Visit the <a href="http://onestepfromeden.com">site</a> to check out the progress and read the devblog.</p>
    </li>

    <li>
      <h3>Shanghai.EXE Genso Network</h3>
      <p>This fangame is a cross between Touhou and MMBN. Even though the game is in Japanese, there is an English guide you can follow.</p>

      <p>- Visit the translation <a href="https://docs.google.com/spreadsheets/d/1El2iMp5Onv22YAjj4_pI7e6jQP9Y1SCuCvWYYHd354o/edit#gid=0">guide</a>. There's a link at the top of the page for downloading the game.</p>
    </li>

    <li>
      <h3>Sprites INC</h3>
      <p>
        These people have been around for <em>years</em>, providing quality sprites rips
        from the Battle Network games.
      </p>

      <p>- Visit the <a href="http://sprites-inc.co.uk/sprite.php?local=/EXE">site</a></p>
    </li>

    <li>
      <h3>Tri Wing</h3>
      <p>Tri Wing is an online real-time action and grid based card game for PC and mobile. It is inspired by MMBN and developed by <a href="https://twitter.com/VeakXP">Vincent Veak</a>.</p>

      <p>- Visit the <a href="https://www.kickstarter.com/projects/veakxp/tri-wing-a-real-time-action-grid-based-card-game">Kickstarter</a>!</p>
    </li>
  </ul>
</main>

<script src="/scripts/app.js"></script>
